spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/WarmTea
    username: postgres
    password: yNx-tKr-zA9-kEZ
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
